<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
    <section id="main">
        <h1>登 录</h1>
        <form id="login_form"  method="post">
            <div class="clearfix">
                <input type="text" id="username" name="username" placeholder="输入帐号">
            </div>
            <div class="clearfix">
                <input type="password" id="password" name="password" placeholder="输入密码">
            </div>
            <div class="clearfix btn_login">
                <input type="submit" value="登 录">
            </div>
        </form>
    </section>

</body>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="layui/layui.js"></script>
<script type="text/javascript">

    layui.use(['layer'], function() {
        var layer = layui.layer;
        var message = '[[${shiroLoginFailure}]]' ? '[[${shiroLoginFailure}]]' : getUrlPara("shiroLoginFailure");
        if(message) {
            layer.msg(message);
        }
    });
    function getUrlPara(name) {
        var url = document.location.toString();
        var arrUrl = url.split("?"+name +"=");
        var para = arrUrl[1];
        if(para)
            return decodeURI(para);
    }
</script>
</html>